.booking-modal-container {
	.modal-content {
		border-radius: 8px !important;
		overflow: hidden !important;
		.booking-modal-content {
			.booking-modal-header {
				display: flex;
				align-items: center;
				height: 45px;
				width: 100%;
				font-size: 20px;
				background-color: #d82d8b;
				color: white;
				position: relative;

				.fa-chevron-left {
					font-size: 20px;
					margin-left: 15px;
					position: absolute;
					cursor: pointer;

					&:hover {
						color: #eee7e7;
					}
				}

				.booking-modal-title {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: auto;
					height: 45px;
					width: 100%;
					font-size: 20px !important;
					font-weight: bold;
					color: white;
				}
			}

			.booking-modal-body {
				.information {
					padding: 20px;

					.no-spinner::-webkit-outer-spin-button,
					.no-spinner::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.modal-body-container {
					// display: flex;
					// justify-content: space-around;
					padding: 10px 20px;

					.modal-body-content {
						.modal-body-header {
							width: 100%;
							font-size: 18px;
							font-weight: bold;
						}

						.modal-body-info {
							// margin-top: 10px;
							width: 100%;
							font-size: 14px;
							font-weight: bold;
							color: #d82d8b;
							padding-bottom: 20px;
						}

						.modal-body-seat {
							display: flex;
							gap: 40px;

							.text {
								font-size: 14px;
								color: #4e4c4c;
							}

							.sum {
								font-weight: bold;
								color: #d82d8b;
							}
						}

						.booking {
							margin-top: 20px;

							.price-seats {
								display: flex;
								align-items: center;
							}
							.text {
								font-size: 14px;
								color: #4e4c4c;
							}
							.sum {
								padding-left: 5px;
								font-weight: bold;
								color: #d82d8b;
							}

							.total-tickets {
								display: flex;
								align-items: center;

								.text {
									width: 50px;
								}

								.form-control {
									width: 50px;
								}
								.form-control::-webkit-outer-spin-button,
								.form-control::-webkit-inner-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}
							}
						}
					}
				}

				.booking-seats {
					background: #262626;
					padding: 50px 120px;
					margin: 10px 0;
					display: flex;
					flex-direction: column;
					align-items: center;

					.screen {
						width: 350px;
						height: 5px;
						background-color: white;
						border-radius: 12px;
						margin-bottom: 10px;
					}

					.name-screen {
						font-size: 16px;
						font-weight: 600;
						color: white;
						margin-bottom: 50px;
						user-select: none;
					}

					.all-seats {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						user-select: none;
					}

					.seat-note {
						margin-top: 50px;
						display: grid;
						row-gap: 1rem;
						column-gap: 3rem;
						grid-template-columns: repeat(2, minmax(0, 1fr));
						width: fit-content;
						margin-left: auto;
						margin-right: auto;
						user-select: none;

						.seat-note-item {
							display: flex;
							align-items: center;
							gap: 10px;

							.seat-note-logo {
								width: 20px;
								height: 20px;
								border-radius: 4px;
								display: flex;
								flex-wrap: nowrap;
							}

							.bookinged {
								background-color: #7f7f7f;
							}

							.selected {
								background-color: #d82d8b;
								border: 2px solid white;
							}

							.vip {
								background-color: #f5222d;

								&:hover {
									background-color: #f5222d;
								}
							}

							.normal {
								background-color: #722ed1;
							}

							.seat-note-text {
								font-size: 14px;
								color: white;
							}
						}
					}

					.seat-box {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: 40px;
						margin: 5px;
						border-radius: 8px;
						cursor: pointer;
						transition: 0.1s linear;
					}

					.vip {
						background-color: #f5222d;
						color: white;
						transition: 0.1s linear;

						&:hover {
							background-color: #b7232b;
						}
					}

					.nomal {
						background-color: #722ed1;
						color: white;
						transition: 0.1s linear;

						&:hover {
							background-color: #5b2b9e;
						}
					}

					.selected {
						background-color: #d82d8b;
						color: white;
						border: 3px solid white;
						transition: 0.1s linear;

						&:hover {
							background-color: #d82d8b;
						}
					}
				}
			}

			.booking-modal-footer {
				padding: 5px;
				border-top: 1px solid #ccc;
				position: relative;
				display: flex;
				height: 70px;

				.total {
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-left: 15px;

					.text {
						font-size: 14px;
						color: #777474;
					}

					.sum {
						font-size: 16px;
						font-weight: bold;
					}
				}

				.btn-secondary {
					width: 110px;
					height: 40px;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					right: 20px;
					top: 15px;
					display: flex;
					background-color: #d82d8b;
					border: none;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
	}
}
