.movie-detail-content {
	background: black;
	padding: 56px 150px;
	width: 100%;
	height: 480px;
	display: flex;
	justify-content: center !important;

	.box-movie-detail {
		display: flex;

		.box-movie-detail-image {
			border: 1px solid #ccc;

			.movie-detail-image {
				width: 254px;
				height: 363px;
				background-image: url(../../../assets/movie-image/Doraemon.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}
