.title-pick-time {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.pick-time-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: auto;
	.btn-time {
		width: 120px;
		height: 40px;
		background: #eee;
		border-radius: 4px;
		border: 1px solid #ccc;
		font-weight: 600;
		transition: all 0.3s;
		margin: 5px !important;

		&.active {
			background: #d82d8b;
			border: 1px solid #e2cece;
			color: white;
		}
	}
}
