.cinema-section-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.cinema-section-content {
		background: #fafafa;
		padding: 56px 150px;
		width: 100%;
		line-height: 24px;

		.cinema-title {
			color: #d82d8b;
			font-size: 30px;
			font-weight: 700;
			line-height: 36px;
			text-align: center;
		}

		.cinema-description {
			color: #737373;
			font-family: ui-sans-serif;
			font-size: 18px;
			line-height: 28px;
			margin: 8px 160px 0px;
			text-align: center;
		}

		.cinema-content {
			display: flex;
			justify-content: space-between;
			align-items: self-start;
			flex-wrap: wrap;

			.box-cinema {
				width: 500px;
				height: 130px;
				align-items: center;
				justify-content: center;
				background-color: #fff;
				border-color: #d4d4d4;
				border-radius: 8px;
				border-style: solid;
				border-width: 0.727273px;
				box-shadow: #0000 0px 0px 0px 0px;
				display: flex;
				margin-bottom: 50px;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					box-shadow: 0px 0px 10px 0px #d4d4d4;
				}

				.logo-cinema {
					background-size: cover;
					border-radius: 8px;
					height: 120px;
					width: 120px;
				}

				.box-cinema-content {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 20px;
					width: 300px;

					.dash {
						border-color: #d4d4d4;
						border-style: solid;
						border-width: 0.727273px;
						height: 30px;
						margin: 0 10px;
					}

					.box-cinema-content-title {
						// width: 100%;
						color: #eb2f96;
						font-size: 20px;
						font-weight: 700;
					}

					.box-cinema-content-rate {
						align-items: center;
						display: flex;

						.fa-star {
							color: #fcd34d;
							margin-right: 5px;
						}
					}

					.box-cinema-content-quantity {
						align-items: center;
						color: #17171780;
						display: flex;
						font-size: 14px;

						.fa-map-marker-alt {
							margin-right: 5px;
						}
					}
				}
			}
		}

		.cinema-section-btn {
			padding: 70px;

			display: flex;
			justify-content: center;
			.btn-primary.medium {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 145px;
				height: 43px;
				border-radius: 0.5rem;
				padding: 0.5rem 1.25rem;
				font-size: 16px;
				font-weight: 700;
				line-height: 1.5rem;
				background-color: #d82d8b;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					background-color: #b32071;
					transform: scale(1.05);
				}
			}
		}
	}
}
