.section-footer-container {
	.footer-container-content {
		background-color: #171717;
		padding: 56px 150px;

		.footer-content {
			display: flex;
			flex-direction: column;
		}
	}
}
.title-footer {
	color: white;
}

.copyright {
	font-size: 14px;
	color: #fff;
	margin-bottom: 16px;
}
