.review-section-content {
	height: 1000px;
	padding: 65px 150px;

	.review-section-list {
		display: grid;
		gap: 24px 20px;
		grid-template-columns: 349.332px 349.332px 349.347px;
		grid-template-rows: 477.23px 477.244px;
		line-height: 24px;

		.box-review-movie {
			width: 347px;
			height: 195px;
			position: relative;
			overflow: hidden;
			border-radius: 12px;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

			.box-review-movie-background {
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover !important;
				background-repeat: no-repeat;
			}

			.box-review-movie-title {
				position: absolute;
				bottom: 10px;
				left: 20px;
				width: 100%;
				color: white;
				font-weight: 600;
				text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
			}

			.fa-play-circle {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 44px;
				color: rgb(210, 210, 210);
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					transform: translate(-50%, -50%) scale(1.1);
					color: white;
				}
			}
		}
	}
}
