.home-nav-container {
	display: flex;
	width: 100%;
	height: 65px;
	justify-content: center;

	.home-nav-content {
		position: fixed;
		background: white;
		z-index: 100;
		width: 100%;
		padding: 0 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// margin: 0 auto;
		height: 65px;
		min-width: 1024px;

		.nav-left-container {
			display: flex;
			align-items: center;
			box-sizing: border-box;
			gap: 5px;

			> .account-content > a {
				text-decoration: none;
			}

			.camera-logo {
				background: url("../../assets/camera.svg") center no-repeat;
				background-size: 36px 36px;
				height: 36px;
				width: 36px;
				cursor: pointer;
			}

			.account-content {
				font-size: 16px;
				font-weight: 700;
			}
		}

		.nav-right-container {
			display: flex;
			align-items: center;
			padding: 0 12px;

			.nav-right-content {
				position: relative;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				flex-wrap: nowrap;
				flex-direction: row;
				gap: 20px;

				.nav-text {
					font-size: 15px;
					font-weight: 700;
					color: #aaa;

					> a {
						text-decoration: none;
						color: #4b4a4a;

						&:hover {
							color: black;
						}
					}
				}
			}
		}
	}
}
