/* KEYFRAMES */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes spin3D {
	from {
		transform: rotate3d(0.5, 0.5, 0.5, 360deg);
	}
	to {
		transform: rotate3d(0deg);
	}
}

@keyframes configure-clockwise {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes configure-xclockwise {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

@keyframes pulse {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.25;
		transform: scale(0.75);
	}
}

.configure-border-1 {
	width: 115px;
	height: 115px;
	padding: 3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fb5b53;
	animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
	width: 115px;
	height: 115px;
	padding: 3px;
	left: -115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(63, 249, 220);
	transform: rotate(45deg);
	animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
	width: 100%;
	height: 100%;
	// background-color: #1d2630;
	background-color: black;
}

.modal-content {
	height: 1080px;
	background: none;
	border: none;
	overflow: none !important ;
	display: flex !important;
	align-items: center;
	justify-content: center;

	.spinner-box {
		display: flex;
		justify-content: center;
	}
}

.loader {
	position: absolute;
	width: 100px;
	aspect-ratio: 1;
	display: grid;
	border: 4px solid #0000;
	border-radius: 50%;
	border-color: #ccc #0000;
	animation: ls 1s infinite linear;
	background-color: #fff0f6;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	margin: 2px;
	border: inherit;
	border-radius: 50%;
}
.loader::before {
	border-color: #f03355 #0000;
	animation: inherit;
	animation-duration: 0.5s;
	animation-direction: reverse;
}
.loader::after {
	margin: 8px;
}
@keyframes ls {
	100% {
		transform: rotate(1turn);
	}
}
