.not-defind-content {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.not-defind-image {
		width: 120px;
		height: 120px;
		background: url("https://homepage.momocdn.net/next-js/_next/static/public/cinema/not-found.svg");
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

	.not-defind-more {
		text-align: center;
		font-size: 14px;
		color: #5e5e5e;
	}
}
