@import "../../styles/common.scss";

.header-container {
	width: 100%;
	display: flex;
	background: linear-gradient(90deg, #00c4cc, #7d2ae8);
	color: $common-text-color;
	height: 40px;
	position: sticky;
	align-items: center;
	justify-content: space-between;

	.header-tabs-container {
		display: flex;
		justify-content: center;
		align-items: center;
		// margin-left: 10px;
	}

	.header-login-section {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		// padding-right: 10px;

		.btn-logout {
			color: $common-text-color;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
			&:hover {
				background-color: darken($colormain, 5);
			}
			i {
				font-size: $base-size + 1px;
			}
		}
		.hello {
			margin-right: 0;
			padding-right: 0;
		}
	}
}
